[submodule "ozone"]
	path = ozone
	url = https://github.com/apache/ozone.git
	branch = master
	shallow = true
[submodule "ratis"]
	path = ratis
	url = https://github.com/apache/ratis.git
	branch = master
	shallow = true
