[submodule "ozone"]
	path = ozone
	url = https://github.com/apache/ozone.git
	branch = ozone-2.2.1
	shallow = true
[submodule "ratis"]
	path = ratis
	url = https://github.com/apache/ratis.git
	branch = release-3.3.1
	shallow = true
